<div class="row  center-align">
        <i class="addBut couleur material-icons {{ taille }} clickable modal-trigger hoverCouleur       " ordre="{{ ordre }}" {% if ongletRef is defined %}ongletRef="{{ ongletRef }}"{% endif %} href="#modal">add_circle</i>
</div>