{% extends 'base.html.twig' %}

{% block title %}{{ parametres.titre }}{% endblock %}

{% block body %}
    {% set compt = 1 %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'page/add.html.twig' with {'ordre' : compt, "couleur" : parametres.couleur, 'taille' : "medium"}  %}
    {% endif %}
    {% for elem in page.contenus %}
        {% if is_granted('ROLE_ADMIN') or elem.afficher %}
            {{ elem.html()|raw }}
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            {% set compt = compt +1 %}
            {% include 'page/add.html.twig' with {'ordre' : compt, "couleur" : parametres.couleur, 'taille' : "medium"}  %}
        {% endif %}
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'page/modalAdd.html.twig' with {'f' : formAdd} %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'JSTwig/addJS.html.twig' %}
        {% include 'JSTwig/optionJS.html.twig' with {'type' : 'option'} %}
    {% endif %}
{% endblock %}
