<div id="modal" class="modal">
    {{ form_start(f) }}
    <div class="modal-content">
        {{ form_row(f.form) }}
        <div class="center-align">
            {{ form_row(f.ajouter) }}
        </div>
    </div>
    {{ form_end(f) }}
</div>



{#<div id="modalSuppr" class="modal">
    <div class="modal-content center-align">
        <h4>Voulez-vous supprimer ce contenu?</h4>
    </div>
    <div class="center-align">
        <p class="modal-close green waves-effect waves-green btn supprBut">Supprimer</p>
        <p class="modal-close red waves-effect waves-red btn">Annuler</p>
    </div>
</div>#}