{% extends 'base.html.twig' %}

{% block title %}{{ parametres.titre }}{% endblock %}

{% block body %}
    {% set compte = 1 %}
    {% include 'page/add.html.twig' with {'ordre' : compte, 'couleur' : parametres.couleur, 'taille' : "medium"}%}
    {% for id, onglet in onglets if onglet.onglet.ordre != 0 %}
        <div class="row contenu">
            <div class="col s10 offset-s1 shadow no-padding white formModOnglet valign-wrapper">
                    <div class="col s3">
                        {% set form = formOnglet.createView() %}
                        {{ form_start(form) }}
                        <div class="col s11">
                            {{ form_row(form.nom, { 'value' : onglet.nom }) }}
                        </div>
                        {{ form_row(form.id, { 'value' : id }) }}
                        {{ form_row(form.idPage, { 'value' : onglet.onglet.pageRef.id }) }}
                            {{ form_row(form.modifier) }}
                        {{ form_end(form) }}
                    </div>
                    <div class="col s7">
                        <div class="row">
                        <div class="col s1 paddingTop60">
                            {% set cmpt = 1 %}
                        {% include 'page/add.html.twig' with {'ordre' : cmpt, 'couleur' : parametres.couleur, 'taille' : "small", 'ongletRef' : id}%}
                        </div>
                        {% for ssOnglet in onglet.onglet.enfants %}
                            {% set cmpt = cmpt + 1 %}
                            <div class="col s5 ssOnglet paddingBot10 paddingTop20">
                                <div class="col s10">
                                    {% set form = formOnglet.createView() %}
                                    {{ form_start(form) }}
                                    <div class="col s10">
                                        {{ form_row(form.nom, { 'value' : ssOnglet.nom }) }}
                                    </div>

                                    {{ form_row(form.id, { 'value' : ssOnglet.id }) }}
                                    {{ form_row(form.idPage, { 'value' : ssOnglet.pageRef.id }) }}
                                    {{ form_row(form.modifier) }}
                                    {{ form_end(form) }}
                                </div>
                                {% include 'page/option.html.twig' with {'id' : ssOnglet.id, 'afficher' : ssOnglet.afficher} %}
                            </div>

                            <div class="col s1 paddingTop60">
                                {% include 'page/add.html.twig' with {'ordre' : cmpt, 'couleur' : parametres.couleur, 'taille' : "small", 'ongletRef' : id}%}
                            </div>

                        {% endfor %}
                        </div>
                    </div>
                    <div class="col s1"></div>
            </div>
            {% include 'page/option.html.twig' with {'id' : id, 'afficher' : onglet.afficher} %}
        </div>
        {% set compte = compte + 1 %}
        {% include 'page/add.html.twig' with {'ordre' : compte, 'couleur' : parametres.couleur, 'taille' : "medium"}%}
    {% endfor %}
    {% include 'page/modalAdd.html.twig' with {'f' : formAdd} %}
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'JSTwig/addJS.html.twig' %}
        {% include 'JSTwig/optionJS.html.twig' with {'type' : 'onglet'} %}
        <script type="application/javascript" src="{{ asset('JS/verifNomOnglet.js') }}"></script>
    {% endif %}
{% endblock %}

