<div class="col s1">
    <div class="option white bordureArrondit shadowLight" divid="{{ id }}">
        <p>
            <label>
                <input type="checkbox" class="checkAfficher filled-in" {% if afficher %}checked="checked"{% endif %}/>
                <span></span>
            </label>
        </p>
        <i class="material-icons buttonOption monter">arrow_upward</i>
        <i class="material-icons buttonOption descendre">arrow_downward</i>
        <i class="material-icons delOption supprimer">delete</i>
    </div>
</div>