{% extends 'base.html.twig' %}

{% block title %}{{ parametres.titre }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m10 s12 offset-m1 shadow no-padding bordure white paddingBot10 marginBot20">
            <h1 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop valign-wrapper">
                Affichage
            </h1>
            <div class="col s12 paddingTop10 paddingBot10">
                {{ form_start(formAffichage) }}
                {{ form(formAffichage) }}
                {{ form_end(formAffichage) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

