{% extends 'base.html.twig' %}

{% block title %}Route Thermale Vittel{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s10 offset-s1 shadow no-padding bordure">
            <h5 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop">Connexion</h5>
            <div class="col s12  no-margin paddingTop5 paddingBot25 white bordureBot">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div class="row">
                    <div class="input-field col s3 offset-s3">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        <label for="username">Identifiant:</label>
                    </div>

                    <div class="input-field col s3">
                        <input type="password" id="password" name="_password" />
                        <label for="password">Mot de passe:</label>
                    </div>
                    </div>
                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                        <button type="submit" class="waves-effect waves-light btn col s4 offset-s4 couleur">Connexion</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}