{% if t.pageRef is not null %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row contenu" contenuid="{{ t.id }}">
            {% block cadrePageAdmin %}<div class="col s10 offset-s1 shadow no-padding bordure white paddingBot10">{% endblock cadrePageAdmin %}
                {{ form_start(f) }}
                {% block blockPageAdmin %}{% endblock blockPageAdmin %}
                {{ form_end(f) }}
                {% block otherForm %}{% endblock otherForm %}
            </div>
            {% include 'page/option.html.twig' with {'id' : t.id, 'afficher' : t.afficher} %}
        </div>
    {% else %}
        <div class="row" contenuid="{{ t.id }}">
            {% block cadrePage %}<div class="col m10 s12 offset-m1 shadow no-padding bordure white paddingBot10 marginBot20">{% endblock cadrePage %}
                {% block blockPage %}{% endblock blockPage %}
            </div>
        </div>
    {% endif %}
{% else %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row valign-wrapper shadowLight paddingTop20 paddingBot20" contenuid="{{ t.id }}">
            <div class="col s10 offset-s1">
                {{ form_start(f) }}
                {% block blockContenuAdmin %}{% endblock blockContenuAdmin %}
                {{ form_end(f) }}
            </div>
            {% include 'page/option.html.twig' with {'id' : t.id, 'afficher' : t.afficher} %}
        </div>
    {% else %}
        <div class="row" contenuid="{{ t.id }}">
            <div class="col s10 offset-s1">
                {% block blockContenu %}{% endblock blockContenu %}
            </div>
        </div>
    {% endif %}
{% endif %}