{% extends 'contenu/contenu.html.twig' %}
{% set c = t.course %}

{%  block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 couleur brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Engagement</p>
        </div>
    </h1>
    <div class="row">
        <div class="col s10 offset-s1">
            <p>(Entrée: Retour à la ligne avec espace   |   Shift + Entrée : Retour sans espace)</p>
            {{ form_row(f.comm) }}
        </div>
    </div>

    <div class="row center-align paddingBot15 ">
        {{ form_row(f.valider) }}
    </div>
{%  endblock blockPageAdmin %}

{% block otherForm %}
    <div class="col s6 paddingBot15 ">
        <div class="row center-align">
            <!-- Modal Trigger -->
            <a class="couleur waves-effect waves-light btn modal-trigger" href="#modalCircuitEng{{ t.id }}">Ajouter un circuit</a>
        </div>
        <div class="row paddingTop15">
            {% for circuit in t.course.circuits %}
                <div class="row shadowLight marginLeft25 marginRight10 bordureArrondit marginTop5 marginBot5 paddingTop5 paddingBot5">
                    <div class="col s9 offset-s1 paddingTop3">
                        <div class="col s6">
                            Nom : {{ circuit.nom }}
                        </div>
                        <div class="col s3">
                            Prix : {{ circuit.prix }} €
                        </div>
                        <div class="col s3">
                            Dist : {{ circuit.distance }} km
                        </div>
                    </div>
                    <div class="col s1">
                        <i class="material-icons delOption actionDel" idToRem="{{ circuit.id }}" info="circuit">delete</i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col s6 paddingBot15 ">
        <div class="row center-align">
            <!-- Modal Trigger -->
            <a class="couleur waves-effect waves-light btn modal-trigger" href="#modalOptionEng{{ t.id }}">Ajouter une option</a>
        </div>

        <div class="row paddingTop15">
            {% for option in t.course.optionCourses %}
                <div class="row shadowLight marginLeft10 marginRight25 bordureArrondit marginTop5 marginBot5 paddingTop5 paddingBot5">
                    <div class="col s9 offset-s1 paddingTop3">
                        <div class="col s6">
                            Nom : {{ option.titre }}
                        </div>
                        <div class="col s3">
                            Prix : {{ option.prix }} €
                        </div>
                        <div class="col s3">
                            Type : {{ option.type }}
                        </div>
                    </div>
                    <div class="col s1">
                        <i class="material-icons delOption actionDel" idToRem="{{ option.id }}" info="option">delete</i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalCircuitEng{{ t.id }}" class="modal">
        <div class="modal-content col s6 offset-s3">
            <h4>Ajouter un circuit</h4>
            {{ form_start(formCircuit) }}
            {{ form(formCircuit) }}
            {{ form_end(formCircuit) }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modalOptionEng{{ t.id }}" class="modal">
        <div class="modal-content col s6 offset-s3">
            <h4>Ajouter une option</h4>
            {{ form_start(formOption) }}
            <div class="center-align">
                {{ form_row(formOption.quantite) }}
            </div>
            {{ form_end(formOption) }}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Annuler</a>
        </div>
    </div>

    {% include 'JSTwig/delOnCourseJS.html.twig' with {'t' : t} %}
    <script type="text/javascript">
        $(".jsReplace").attr("type","number");
    </script>

    <table class="table bordureTop striped highlight">
        <thead class="couleur">
        <tr>
            <td>Nom</td>
            <td>Prénom</td>
            <td>Prix</td>
            <td>Date de naissance</td>
            <td>Catégorie</td>
            <td>Club</td>
            <td>Licence ou certificat</td>
            <td>Adresse</td>
            <td>Téléphone</td>
            <td>Email</td>
            <td>Circuit</td>
            <td>Options (qte)</td>
        </tr>
        </thead>
        <tbody>
        {% for i in c.inscriptions %}
            <tr>
                <td>{{ i.nom}}</td>
                <td>{{ i.prenom }}</td>
                <td{% if i.payer %} class="payer"{% endif %}>{{ i.prix }}€</td>
                <td>{{ i.dateNaissance.format("d-m-Y") }}</td>
                <td>{{ i.categorie }}</td>
                <td>{{ i.club }}</td>
                <td>{{ i.licenceCertif }}</td>
                <td>{{ i.adresse }} {{ i.codePostal }} {{ i.ville }}</td>
                <td>{{ i.telephone }}</td>
                <td>{{ i.mail }}</td>
                <td>{{ i.circuit.nom }}</td>
                <td>{% for o in i.optionInscris %} {{ o.texte }}{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock otherForm %}

{%  block blockPage %}
    <h5 class="col s12 blue lighten-2 no-margin paddingTop10 paddingBot10 bordureTop">{{ c.nom }}</h5>
    {% autoescape false %}
        <div class="col s12 paddingTop10 paddingBot10">{{ c.description }}</div>
    {% endautoescape %}
    <div class="col s12  no-margin paddingTop5 paddingBot5 bordureBot">
        {{ form_start(formInscription) }}
        {% set compt = 0 %}
        {% for nom, g in formInscription.children if nom not in ['payer','valider','course'] %}
            {% if compt is divisible by(3) %}
                <div class="row hide-on-med-and-down"></div>
            {% elseif compt is divisible by(2) %}
                <div class="row hide-on-small-only hide-on-large-only"></div>
            {% endif %}
            <div class="col l4 m6 s12">
                {{ form_row(g) }}
            </div>
            {% set compt = compt+1 %}
        {% endfor %}

        <div class="col s12 center-align">
            {{ form_row(formInscription.valider) }}
        </div>
        {{ form_end(formInscription, {'render_rest': false}) }}
    </div>
{%  endblock blockPage %}