{% extends 'contenu/contenu.html.twig' %}

{%  block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 couleur brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Galerie</p>
        </div>
    </h1>
    <div class="col s12 no-padding couleur">
        <ul class="tabs couleur brightCouleur">
            {% for page in 1..t.nbPages %}
                <li class="tab col s3 white-text"><a href="#tab{{ page }}" class="white-text">Page {{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if t.imagesPath is empty %}
    <div>
        {% endif %}
        {% for path in t.imagesPath %}
        {% if loop.index0 is divisible by(10) %}
        {% if loop.index0 != 0 %}
    </div>
    {% endif %}
    <div id="tab{{ loop.index0/10 + 1 }}" class="col s12 heightTab">
        {% endif %}
        <div class="col s4 {% if loop.index0 is odd %} offset-s1 {% else %} offset-s2 {% endif %} paddingTop10">
            <img class="materialboxed col s12" src="{{ path }}" >
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_row(f.img) }}
        </div>
    </div>
    <div class="row center-align photoLoad">
        {{ form_row(f.valider) }}
    </div>

    <script type="application/javascript">
        $(".photoLoad").parents().submit(function () {
            $(".loadImage").css("display", "block");
        })
    </script>

    <div class="row center-align paddingTop10 ">
        <div style="display: none" class="loadImage">
            <p>L'opération peut prendre quelques minutes</p>
            <div class="preloader-wrapper small active center-align">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock blockPageAdmin %}

{%  block blockPage %}
    <h5 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop">{{ t.titre }}</h5>
    <div class="col s12 no-padding couleur">
        <ul class="tabs couleur brightCouleur">
            {% for page in 1..t.nbPages %}
                <li class="tab col s3 white-text"><a href="#tab{{ page }}" class="white-text">Page {{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for path in t.imagesPath %}
        {% if loop.index0 is divisible by(10) %}
            {% if loop.index0 != 0 %}
                </div>
            {% endif %}
            <div id="tab{{ loop.index0/10 + 1 }}" class="col s12 heightTab">
        {% endif %}
        <div class="col s4 {% if loop.index0 is odd %} offset-s1 {% else %} offset-s2 {% endif %} paddingTop10">
            <img class="materialboxed col s12" src="{{ path }}" >
        </div>
    {% endfor %}
    </div>

{%  endblock blockPage %}

{%  block blockContenuAdmin %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenuAdmin %}

{%  block blockContenu %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenu %}