{% extends 'contenu/contenu.html.twig' %}

{% block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Image</p>
        </div>
    </h1>
    {% if t.nom is not null %}
        <div class="row">
            <div class="col s12 center-align flexHor">
            <img class="materialboxed center paddingTop15" width="100" src="{{ t.chemin }}">
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_row(f.img) }}
        </div>
    </div>
    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{% endblock blockPageAdmin %}

{% block blockPage %}
    <h1 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop valign-wrapper">
        {{ t.titre }}
    </h1>
        <img class="materialboxed paddingTop10 col s8 offset-s2" src="{{ t.chemin }}">
{% endblock blockPage %}

{% block blockContenuAdmin %}
    {% autoescape false %}
        <div class="col s12 paddingTop10 paddingBot10">{{ t.commentaire }}</div>
    {% endautoescape %}
{% endblock blockContenuAdmin %}

{% block blockContenu %}
    <img class="materialboxed col s10 offset-s1" src="{{ t.chemin }}">
{% endblock blockContenu %}
