{% extends 'contenu/contenu.html.twig' %}

{% block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 couleur brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Lien</p>
        </div>
    </h1>
    {% if t.nom is not null %}
        <div class="row">
            <div class="col s12 flexHor">
            <a href="{{ t.chemin }}" class="center paddingTop15" target="_blank"><img src="/Images/PJ.png" height="50" width="50"></a>
            </div>
        </div>
    {% endif %}


    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{% endblock blockPageAdmin %}

{% block cadrePage %}<div class="col s6 offset-s3 couleur no-padding paddingBot10 paddingTop10 paddingLeft10 paddingRight10 marginBot20 shadow">{% endblock cadrePage %}

{% block blockPage %}
    <h1 class="col s12 white no-margin bordureTop valign-wrapper flexHor">
        <a href="{{ t.chemin }}" target="_blank"><span class="valign-wrapper">{{ t.titre }}<img src="/Images/PJ.png" height="50" width="50"></span></a>
    </h1>
{% endblock blockPage %}

{% block blockContenuAdmin %}
    {% autoescape false %}
        <div class="col s12 paddingTop10 paddingBot10">{{ t.commentaire }}</div>
    {% endautoescape %}
{% endblock blockContenuAdmin %}

{% block blockContenu %}
    <img class="materialboxed col s10 offset-s1" src="{{ t.chemin }}">
{% endblock blockContenu %}