{% extends 'contenu/contenu.html.twig' %}

{% block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 couleur brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Multi</p>
        </div>
    </h1>
    <div class="row">
        <div class="col s10 offset-s1">
            {% set compt = 1 %}
            {% include 'page/add.html.twig' with {'ordre' : compt, "couleur" : p.couleur, 'taille' : "medium", ongletRef : t.id}  %}
            {% for c in t.contenus %}
                {{ c.html | raw }}
                {% set compt = compt +1 %}
                {% include 'page/add.html.twig' with {'ordre' : compt, "couleur" : p.couleur, 'taille' : "medium", ongletRef : t.id}  %}
            {% endfor %}
        </div>
    </div>
    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{% endblock blockPageAdmin %}

{% block blockPage %}
    <h5 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop">{{ t.titre }}</h5>
    {% for c in t.contenus %}
        {{ c.html|raw }}
    {% endfor %}
{% endblock blockPage %}
