{% extends 'contenu/contenu.html.twig' %}

{%  block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 couleur brightCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Partenaires</p>
        </div>
    </h1>
        {% for path in t.imagesPath %}
        <div class="col s1 paddingTop10">
            <img class="responsive-img" src="{{ path }}" >
        </div>
        {% endfor %}
    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_row(f.img) }}
        </div>
    </div>
    <div class="row center-align photoLoad">
        {{ form_row(f.valider) }}
    </div>

    <script type="application/javascript">
        $(".photoLoad").parents().submit(function () {
            $(".loadImage").css("display", "block");
        })
    </script>

    <div class="row center-align paddingTop10 ">
        <div style="display: none" class="loadImage">
            <p>L'opération peut prendre quelques minutes</p>
            <div class="preloader-wrapper small active center-align">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{%  endblock blockPageAdmin %}

{%  block blockPage %}
    <h5 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop">{{ t.titre }}</h5>
    <div class="marginLeft20 marginRight20">
    <div class="row">
    {% for path in t.imagesPath %}
        {% if loop.index0 % 6 == 0 and loop.index0 != 0 %}
        </div>
        <div class="row">
        {% endif %}
        <div class="col s2 paddingTop10" >
            <div class="valign" style="height: 150px;">
            <img class="responsive-img sizeImg" width="250"  style="vertical-align:middle;" src="{{ path }}" >
            </div>
        </div>
    {% endfor %}
    </div>
    </div>
{%  endblock blockPage %}

{%  block blockContenuAdmin %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenuAdmin %}

{%  block blockContenu %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenu %}