{% extends 'contenu/contenu.html.twig' %}

{% block cadrePage %}
    <div class="container bordure couleur shadow paddingTop35 paddingRight35 paddingLeft35 marginBot20 col l6 offset-l3 m6 offset-m3 s12">
{% endblock cadrePage %}

{%  block blockPageAdmin %}
<h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 offset-s6 right-align paddingTop10">
            <p>Slider</p>
        </div>
    </h1>
    {% if t.img | length != 0 %}
        <div class="row paddingTop10">
            <div class="carousel">
            {% for image in t.img %}
                <a class="carousel-item" href="#one!"><img src="{{ image }}"></a>
            {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col s10 offset-s1">
            {{ form_row(f.img) }}
        </div>
    </div>
    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{%  endblock blockPageAdmin %}

{%  block blockPage %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides">
            {% for image in t.img %}
                <li>
                    <img src="{{ image }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockPage %}

{%  block blockContenuAdmin %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenuAdmin %}

{%  block blockContenu %}
    {#<div class="container bordure {{ p.couleur }} lighten-2 paddingTop35 paddingRight35 paddingLeft35 col l4 offset-l4 m6 offset-m3 s12">#}
    <div class="slider">
        <ul class="slides shadow">
            {% for image in t.contenuses %}
                <li>
                    <img src="{{ image.chemin }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{%  endblock blockContenu %}