{% extends 'contenu/contenu.html.twig' %}

{% block blockPageAdmin %}
    <h1 class="col s12 couleur  no-margin paddingTop10 paddingBot10 bordureTop">
        <div class="col s6 inputCouleur lighten-4 titreForm">
            {{ form_row(f.titre) }}
        </div>
        <div class="col s6 right-align paddingTop10">
            <p>Texte</p>
        </div>
    </h1>
    <div class="row">
        <div class="col s10 offset-s1">
            <p>(Entrée: Retour à la ligne avec espace   |   Shift + Entrée : Retour sans espace)</p>
            {{ form_row(f.comm) }}
        </div>
    </div>
    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{% endblock blockPageAdmin %}

{% block blockPage %}
    <h1 class="col s12 couleur no-margin paddingTop10 paddingBot10 bordureTop valign-wrapper">
        {{ t.titre }}
    </h1>
    {% autoescape false %}
        <div class="col s12 paddingTop10 paddingBot10">{{ t.commentaire }}</div>
    {% endautoescape %}
{% endblock blockPage %}

{% block blockContenuAdmin %}
    <div class="row">
        <div class="col s10 offset-s1">
            <p>(Entrée: Retour à la ligne avec espace   |   Shift + Entrée : Retour sans espace)</p>
            {{ form_row(f.comm) }}
        </div>
    </div>
    <div class="row center-align">
        {{ form_row(f.valider) }}
    </div>
{% endblock blockContenuAdmin %}

{% block blockContenu %}
    {% autoescape false %}
        <div class="col s12 paddingTop10 paddingBot10">{{ t.commentaire }}</div>
    {% endautoescape %}
{% endblock blockContenu %}
