body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.backstretch {
    position: relative;
}

.backstretch::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.1;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
    background-color: #{{ parametres.couleur }};
    filter: brightness(70%);
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #{{ parametres.couleur }};
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #{{ parametres.couleur }};
}

.highlight tbody tr:hover {
    background-color: #{{ parametres.couleur }}!important;
    filter: brightness(150%);
}

.table td{
    border: 1px solid rgba(255,255,255,0.4)!important;
}

#materialbox-overlay {
    opacity: 0.6!important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #{{ parametres.couleur }};
    -webkit-box-shadow: 0 1px 0 0 #{{ parametres.couleur }};
    box-shadow: 0 1px 0 0 #{{ parametres.couleur }};
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #{{ parametres.couleur }};
}

.couleur {
    background-color: #{{ parametres.couleur }};
}

.brightCouleur {
    background-color: rgba(255,255,255,0.2);
}

.inputCouleur {
    background-color: rgba(255,255,255,0.2);
}

.slides {
    box-shadow: 0 0 5px black;
}

.textCouleur {
    color: #{{ parametres.couleur }};
}

.hoverCouleur:hover {
    filter: brightness(130%);
}

.btn:hover {
    background-color: #{{ parametres.couleur }};
    filter: brightness(120%);
}

[type="checkbox"].filled-in:checked + span:not(.lever)::after {
    background-color: #27ae60;
    border: 2px solid #27ae60;
}



main {
    flex: 1 0 auto;
}

/* Affichage des DropDown depuis le tab */
.tabs {
    overflow-x: visible !important;
    overflow-y: initial !important;
}

.bordureArrondit {
    border-radius: 20px;
}

.imageBack
{
    /*background-image:url("Images/fond.png");*/
}

#corps
{
    margin-top: 20px;
}

#menu
{
    position: sticky!important;
    position: -webkit-sticky!important;
    top: 0px!important;
    background-color: #0f9d58!important;
    z-index: 5;
}

.tab:hover {
    background-color: cornflowerblue;
}

/* Changer la couleur des tabs */
.dropdown-content li:hover
{
    background-color: cornflowerblue;
}

.toastColor {
    background-color: #00b0ff;
}

.toastErreur {
    background-color: darkred;
}

.shadow
{
    box-shadow: 0px 0px 25px black;
}

.shadowLight {
    box-shadow: 0px 0px 5px black;
}

.imageTitre {
    max-height: 100px;
}

/*.bordure
{
    //border-radius: 20px 20px 20px 20px;
}*/

strong {
    font-weight: bold;
}

.bordureTop
{
    box-shadow: 0px 1px 5px black;
}
/*
.bordureBot
{
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}*/



.supprImg {
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.option span
{
    transform: scale(1.5);
}

.checkSize input:checked + span::before {
    border-right: 2px solid white !important; /* You need to change the colour here */
    border-bottom: 2px solid white !important; /* And here */
}

 #modal {
    overflow: visible;
}

h1 {
    font-size: 30px;
}

.paddingTop
{
    padding-top: 50px!important;
}

.marginTop
{
    margin-top: 15px;
}

.no-margin
{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbarHeightL
{
    height: 150px!important;
}
.navbarHeightM
{
    height: 100px!important;
}
.navbarHeightS
{
    height: 50px!important;
}

.flexHor
{
    display: flex;
    justify-content: center;
}

.bordureBleu
{
    text-shadow: 0 0 2px black   ;
}

.titreForm .input-field
{
    margin-top: 0px;
    margin-bottom: 0px;
}

p
{
    margin: 0px;
}

.row
{
    margin-bottom: 0px;
}

.payer
{
    background: #0f9d58;
}

.sizeL {
    font-size: 35px;
}
.sizeM {
    font-size: 35px;
}
.sizeS {
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}
.clickable:active {
    color: grey;
}


.flexSpace
{
    display: flex;
    align-items: center;
}

.etendu{
    flex: 1;
}

.textAlignDroit
{
    text-align: right;
}

.addBut
{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px 30px 30px 30px!important;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 8px 2px;
}

.ssOnglet{
    box-shadow: rgba(0,0,0,0.2) 1px 1px 8px 2px;
}

.colorpicker input
{
    border-radius: 5px!important;
}

.valign {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sizeImg {
    max-height: 150px;
}

.colorpicker
{
    margin-left: 10px;
}

.option
{
    width: 50px;
    height: 165px;
}

.formModOnglet
{
    min-height: 165px!important;
}

.option p
{
    padding-left: 19px!important;
    padding-top: 20px!important;
}

.heightTab
{
    height: 400px;
    overflow: auto;
}

.buttonOption
{
    cursor: pointer;
    box-shadow: black 1px 1px 1px;
    border-radius: 15px;
    font-size: 30px;
    margin-left: 10px;
    background-color: grey;
}

.file-path::placeholder
{
    color: grey!important;
}

.buttonOption:hover{
    background-color: #AAAAAA;
}

.delOption
{
    cursor: pointer;
    box-shadow: black 1px 1px 1px;
    border-radius: 15px;
    font-size: 24px;
    padding: 3px;
    margin-left: 10px;
    background-color: red;
}

.delOption:hover
{
    background-color: #AA3333;
}

.option input
{
    zoom: 1.5;
}

{% for i in 0..150 %}
.paddingTop{{ i }}
{
    padding-top: {{ i }}px!important;
}

.paddingBot{{ i }}
{
    padding-bottom: {{ i }}px!important;
}

.paddingLeft{{ i }}
{
    padding-left: {{ i }}px!important;
}

.paddingRight{{ i }}
{
    padding-right: {{ i }}px!important;
}

.marginTop{{ i }}
{
    margin-top: {{ i }}px!important;
}

.marginBot{{ i }}
{
    margin-bottom: {{ i }}px!important;
}

.marginLeft{{ i }}
{
    margin-left: {{ i }}px!important;
}

.marginRight{{ i }}
{
    margin-right: {{ i }}px!important;
}

{% endfor %}