{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div id="accueil" class="col s12">
        {% for elem in page.contenus %}
            {{ elem.html(pathTemplate)|raw }}
        {% endfor %}
    </div>
{% endblock %}
