<script type="text/javascript">
    $(".actionDel").click(function () {
        var id = $(this).attr("idToRem");
        var type = $(this).attr("info");
        var div = $(this);
        $.ajax({
            url: "/ajax/removeInfo/"+type+"/{{ t.course.id }}/"+id,
            success: function (data) {
                div.parent().parent().remove();
            },
            error: function (data) {
                var erreur = data.responseJSON.erreur;
                M.toast({html: erreur, classes: "toastErreur"});
            }
        })
    })
</script>