<script type="text/javascript">
    function getId(div) {
        return div.parents(".option").attr("divid")
    }

    $('.checkAfficher').click(function () {
        var id = getId($(this));

        $.ajax({
            url: "/ajax/{{ type }}/"+id+"/3",
            success: function (data) {
                $(this).checked = data.rep;
                M.toast({html: "Affichage modifié!", classes: "toastColor"});
            },
            error: function (data) {
                var erreur = data.responseJSON.erreur;
                M.toast({html: erreur, classes: "toastErreur"});
                $(this).checked = data.responseJSON.rep;
            }
        })
    });

    $('.monter').click(function () {
        var id = getId($(this));
        var div = $(this).parent().parent().parent();


        $.ajax({
            url: "/ajax/{{ type }}/"+id+"/1",
            success: function (data) {
                div.after(div.prev().prev());
                div.after(div.prev());
            },
            error: function (data) {
                var erreur = data.responseJSON.erreur;
                M.toast({html: erreur, classes: "toastErreur"});
            }
        })
    });

    $('.descendre').click(function () {
        var id = getId($(this));
        var div = $(this).parent().parent().parent();
        $.ajax({
            url: "/ajax/{{ type }}/"+id+"/2",
            success: function (data) {
                div.next().next().after(div);
                div.prev().after(div.prev().prev());
            },
            error: function (data) {
                var erreur = data.responseJSON.erreur;
                M.toast({html: erreur, classes: "toastErreur"});
            }
        })
    });

    $('.supprimer').click(function () {
       var id = getId($(this));
       var div = $(this).parent().parent().parent();
       $.ajax({
            url: "/ajax/{{ type }}/"+id+"/0",
            success: function (data) {
                var ordre = div.next().children().attr('ordre');
                var contenus = $('.addBut');
                contenus.each(function () {
                    var buttons = $(this);
                    if(buttons.attr('ordre') > ordre+''){
                        var o = buttons.attr('ordre');
                        buttons.attr('ordre',o-1);
                    }
                });
                div.next().remove();
                div.remove();
                M.toast({html: "Contenu supprimé!", classes: "toastColor"});
            },
            error: function (data) {
                var erreur = data.responseJSON.erreur;
                M.toast({html: erreur, classes: "toastErreur"});
            }
        })

    });

</script>