{% extends 'base.html.twig' %}

{% block title %}Route Thermale Vittel{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s10 offset-s1 shadow no-padding bordure">
            <h5 class="col s12 blue lighten-2 no-margin paddingTop10 paddingBot10 bordureTop">Annulation</h5>
            {% autoescape false %}
                <p class="col s12  no-margin paddingTop5 paddingBot5 white bordureBot">Votre inscription a été annulée!</p>
            {% endautoescape %}
        </div>
    </div>
{% endblock %}