<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('CSS/materialize.css') }}"  media="screen,projection"/>
    <link rel="stylesheet" href="{{ path('styleSheet',{'_format' : 'css'}) }}"/>
    <link rel="icon" href="{{ asset('Images/Parametres/logo.png') }}" size="192x192">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="description" content="Site de l'association La Route Thermale Cycliste, organisatrice de course cycliste dans les Vosges.
        Cette association a pour objet principal la création, le développement et l'organisation d'une épreuve de masse de cyclisme
sur route ouverte à tous types de pratiquants, licenciés ou non s'intitulant << La Route thermale >>. Cette année à lieu la 5ème Route Thermale organisée par l'association Route Thermale Cycliste.
    ">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
</head>
<body class="">
        <nav class="nav-extended transparent">
            <div class="nav-wrapper navbarHeightL imageBack valign-wrapper hide-on-med-and-down">
                {% include 'entete/entete.html.twig' with {'dim' : 'L'} %}
            </div>
            <div class="nav-wrapper navbarHeightM paddingTop5 imageBack valign-wrapper hide-on-small-only hide-on-large-only">
                {% include 'entete/entete.html.twig' with {'dim' : 'M'} %}
            </div>
            <div class="nav-wrapper navbarHeightS paddingTop5 imageBack valign-wrapper hide-on-med-and-up">
                {% include 'entete/entete.html.twig' with {'dim' : 'S'} %}
            </div>

        </nav>
        <nav id="menu">
            <div class="nav-wrapper couleur shadow">
                <ul class="left">
                    {% for id,onglet in onglets if modO is not defined and (is_granted('ROLE_ADMIN') or onglet.afficher)%}
                        <li>
                            <a {% if onglet.onglet.enfants|length != 0 %}class="dropdown-button" href="#!" data-target="dropdown{{ id }}" {% else %}{% if onglet.onglet.pageRef is not null %}href="{{ path('page',{'nomPage' : onglet.onglet.pageRef.url}) }}"{% endif %}{% endif %}>
                                {{ onglet.nom }}
                                {% if onglet.onglet.enfants|length != 0 %}<i class="material-icons right">arrow_drop_down</i>{% endif %}
                            </a>
                        </li>
                        {% if onglet.onglet.enfants|length != 0  %}
                            <ul id="dropdown{{ id }}" class="dropdown-content">
                                {% for enfant in onglet.onglet.enfants if enfant.afficher or is_granted('ROLE_ADMIN') %}
                                    <li><a {% if enfant.pageRef is not null %}href="{{ path('page', {'nomPage' : enfant.pageRef.url}) }}"{% endif %}>{{ enfant.nom }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                <ul class="right">
                    <li>
                        {% if modO is not defined %}
                        <a href="{{ path('modification') }}">Modifier Onglets</a>
                        {% else %}
                        <a href="{{ path('accueil') }}">Retour</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ path('parametres') }}">Paramètres</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>

<main class="">
    {#<div class="hide-on-med-and-down paddingBot120"></div>
    <div class="hide-on-small-only hide-on-large-only paddingBot50"></div>
    <div class="hide-on-large-only paddingBot30"></div>#}
    <div id="corps" class="">
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="page-footer couleur lighten-1 shadow flexSpace paddingTop10 paddingBot10">
    <div class="etendu paddingLeft20">
        (c) DevGS 2019 <span class="hide-on-small-only">- {{ parametres.footerInfo }}</span>
    </div>
    <ul class="flexHor no-margin right paddingRight20">
        <li><a class="grey-text text-lighten-3 paddingRight10" href="{{ path('page',{'nomPage' : "Contact"}) }}">Contact</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a class="grey-text text-lighten-3" href="{{ path('logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a class="grey-text text-lighten-3" href="{{ path('login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{ asset('JS/materialize.js') }}"></script>
<script type="text/javascript" src="{{ asset('JS/init.js') }}"></script>
<script type="text/javascript" src="{{ asset('JS/jscolor.js') }}"></script>
{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{ asset('JS/jquery.backstretch.min.js') }}"></script>
<script>$.backstretch("{{ asset('Images/Parametres/fond.png') }}");</script>
</body>
</html>
