{% if page.id != 1 %}
    <div class="valign-wrapper">
        <p class="paddingLeft20 left bordureBleu textCouleur {% if dim == "L" %}sizeL{% elseif dim == "M" %}sizeM{% else %}sizeS{% endif %}">
            {{ page.nom }}
        </p>
    </div>
{% endif %}
<div class="brand-logo center hide-on-med-and-down marginTop15">
    {% if dim == "L" %}
        <img class="imageTitre" src="{{ asset('Images/Parametres/titre.png') }}">
    {% endif %}
</div>
<div class="brand-logo right marginTop15">

        <img class=" " src="{{ asset('Images/logo.png') }}"
                {% if dim == "L" %}
                    height="120" width="120"
                {% elseif dim == "M" %}
                    height="80" width="80"
                {% else %}
                    height="40" width="40"
                {% endif %}
        />
</div>